<div class="col-md-4 mb-3">
    <h4 class="text-info"> Se Connecter</h4>
</div>
          
<div class="col-md-4 mb-3">
    <div class="form-group">
        <label class="validationTooltip01">Nom d'utilisateur</label>
        <input type="text" [(ngModel)]="auth"  class="form-control">
    </div>
    
    <div class="form-group">
        <label class="validationTooltip01">Mot de passe</label>
        <input type="password" [(ngModel)]="mdp"  class="form-control"  >
    </div>
    
    <button type="button"  class="btn btn-primary" (click)="verif(auth,mdp)">connexion</button>


</div>