<p>detail works!</p>
<p>ooooooo</p>
<h1 (click)="tab()">identifiant :{{identifiant}}</h1>
<img width="300px" height="200px" [src]="it._image" 
         class="img-fluid img-thumbnail"/>
<div class="col-lg-2">
    <ul class="list-group">
    <li class="list-group-item list-group-item-primary"> {{it.nom}}</li>
    <li class=" list-group-item list-group-item-warning"> {{it.marque | uppercase}} </li>
    <li class=" list-group-item list-group-item-info"> {{it.prix | pipe}}</li>
    <li *ngIf="!it.diponibilite; else aa"class="list-group-item list-group-item-success">Disponible </li>
    <ng-template #aa class="list-group-item list-group-item-danger"> Non Disponible</ng-template>
    <li class=" list-group-item list-group-item-danger">{{it._date | date}}</li>
    </ul>
    </div>


